<!DOCTYPE html>
<html>
    <head>
        <title>Arado Admin</title>
    </head>
    <body>
        <h1>Welcome to arado's admin page</h1>
        <p>Here are your options:</p>
        <ul>
            <li><a href="/new_ad">Add a new advertisement</a></li>
            <li><a href="/new_client">Add a new client</a></li>
            <li><a href="/new_user">Add a new user</a></li>
            <li><a href="/list_ads">Show the advertisements list</a></li>
            <li><a href="/list_clients">Show the clients list</a></li>
            <li><a href="/list_users">Show the users list</a></li>
        </ul>
    </body>
</html>